/* Buttons DIV
--------------------------------------------*/

.div-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.div2-button-new {
  width: 75%;
  display: flex;
}

.div-button-add {
  display: flex;
}

/* Responsiveness for Phones and Small Tablets
----------------------------------------------
--------------------------------------------*/

@media (min-width: 360px) and (max-width: 897px) 
{

  /* Table 
  --------------------------------------------*/

  .div-table {
    margin-top: 3em;
    display: flex;
    justify-content: center;
  }
  
  .table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid rgba(33, 33, 33, 0.5);
  }
  
  .table-row-headers {
    line-height: 2rem;
  }
  
  
  .table-row-headers th{
    border: 1px solid rgba(33, 33, 33, 0.5);
    font-size: 1em;
    background: #AED6F1 ;
    color: #333333;
  }
  
  .task, .duedate, .prio, .comments {
    text-align: center;
  }
  
  .table-row-task {
    line-height: 1em;
  }
  
  .table-row-task td {
    font-size: 1em;
    color: #333333;
    border: 1px solid rgba(33, 33, 33, 0.5);
  }


  /* Inputs 
  ------------------------------------ */

  .div-input {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    /*display: none;*/
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-left: 20px;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    font-size: 1.2em;
    background:  #aed6f1;
    border-radius: 10px;
  }

  .div-task, .div-duedate, .div-prio, .div-comments {
    display: flex;
  }

  .input-task, .input-duedate, .input-prio, .input-comments {
    margin-left: 5px;
    width: 45%;
    min-width: 10px;
    border-radius: 10px;
  }
}

@media (min-width: 360px) and (max-width: 430px) 
{
  .div-buttons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
}